.dark {
  --dark: 0, 0, 0;
  --light: 255, 255, 255;
}

.light {
  --dark: 255, 255, 255;
  --light: 0, 0, 0;
}

body {
  margin: 0;
  background: rgb(var(--dark));
  color: rgb(var(--light));
}

#__next {
  position: fixed;
}

.shell, .menu, .content, .header, .main {
  position: absolute;
}

#__next, .shell, .content, .header, .menu {
  right: 0;
  left: 0;
}

#__next, .shell, .menu, .content, .header {
  top: 0;
}

#__next, .shell, .menu, .content, .main {
  bottom: 0;
}

.shell {
  --menu-offset: 0.01px;
}

.shell.menu-expanded {
  --menu-offset: 200px;
}

.menu {
  width: var(--menu-offset, 0);
  transition-property: width;
}

.content {
  right: calc(var(--menu-offset, 0) * -1);
  left: var(--menu-offset, 0);
  transition-property: left, right;
}

.menu, .content {
  transition-duration: 250ms;
}

.header {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.main {
  top: 78px;
  right: 0;
  width: 100%;
  overflow-y: auto;
}
