name: site

on:
  push:
    branches:
      - master
    paths:
      - site/**
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install dependencies
        run: npm ci
      - name: build core
        run: npm run prepublishOnly --workspace=core
      - name: build site
        run: npm run build --workspace=site
      - name: publish
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site/out
