name: verify

on:
  push:
    branches:
      - master
    paths:
      - core/**

jobs:
  core:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - uses: pnpm/action-setup@v2
        with:
          version: 6.2.1
      - name: install dependencies
        run: pnpm install -C core
      - name: test
        run: pnpm test -C core
