name: version

on:
  push:
    paths:
      - package.json

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: check
        name: check
        run: git show -L '/version/,+1:package.json' HEAD; echo "::set-output name=UNCHANGED::$?"
      - if: steps.check.outputs.UNCHANGED == 0
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - if: steps.check.outputs.UNCHANGED == 0
        uses: pnpm/action-setup@v2
        with:
          version: 6.2.1
      - if: steps.check.outputs.UNCHANGED == 0
        name: update package.json files
        run: node ./scripts/version
      - if: steps.check.outputs.UNCHANGED == 0
        name: update lockfile
        run: pnpm install --no-prefer-frozen-lockfile -r
      - if: steps.check.outputs.UNCHANGED == 0
        name: commit change
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Version sync
